@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

/* Light color theme */
:root {
  --ui-basecolor: #fff;
  --ui-background: #fff;
  --ui-darkcolor: #fff;
  --ui-accent: #0889ff;
  --tab-selection-background-color: var(--ui-basecolor) !important;
  --tab-hover-background-color: #45545e !important;
  --chrome-background-color: var(--ui-darkcolor) !important; /* Includes tabstrip background */
  --chrome-secondary-background-color: var(--ui-basecolor) !important; /* Includes toolbar, urlbar */
  --url-and-searchbar-background-color: var(--ui-background) !important;
  --chrome-selection-background-color: var(--ui-accent) !important;
  --chrome-nav-bar-controls-border-color: rgba(255, 255, 255, .07) !important; /* Urlbar border */
}

/* Make toolbar icons smaller */
.toolbarbutton-icon {
  width: 23px !important;
}

/* Responsive tab tweaks */
.scrollbutton-down .toolbarbutton-icon,
.scrollbutton-up .toolbarbutton-icon {
  height: 16px !important;
}

.scrollbutton-down .toolbarbutton-icon,
.scrollbutton-up .toolbarbutton-icon {
  width: 12px !important;
}

/* Make identity icon smaller */
#identity-icon,
#tracking-protection-icon,
#connection-icon,
.notification-anchor-icon,
#blocked-permissions-container > .blocked-permission-icon,
#extension-icon {
  width: 14px !important;
  height: 14px !important;
  margin-top: 1px !important;
}

/* Make urlbar icon smaller */
[uidensity="compact"]:root .urlbar-icon,
.dropmarker-icon {
  width: 20px !important;
  height: 20px !important;
}

/* Make close icons smaller */
.close-icon > .button-icon,
.close-icon > .button-box > .button-icon,
.close-icon > .toolbarbutton-icon {
  width: 12px !important;
  height: 12px !important;
}

/* Remove top border */
#browser-panel {
  margin-top: -2px !important;
}

/* Move tabs to bottom */
#TabsToolbar {
  -moz-box-ordinal-group: 100;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* Bookmarks bar under address bar */
#PersonalToolbar {
  -moz-box-ordinal-group: 99 !important;
}

/* Remove space before first tab */
.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  -moz-padding-end: 0 !important;
  -moz-padding-start: 0 !important;
}

/* Remove the menu button */
#PanelUI-menu-button {
  display: none !important;
}

/* Consistent styles for tabs on bottom */
.tabbrowser-tab[usercontextid] .tab-line {
  background-color: var(--identity-tab-color) !important;
}

/* New tab button custom shape */
.tabs-newtab-button {
  background: none !important;
  border: 1px transparent !important;
  margin-left: -1px !important;
  width: 24px !important;
  opacity: .3 !important;
}

/* Tab related */
.tabs-newtab-button:hover {
  opacity: 1 !important;
}

.tabbrowser-tab {
  margin-top: -3px !important;
  color: #888 !important;

  /* Remove borders from tabs */
  -moz-box-align: start !important;
}

.tabbrowser-tab .tab-line {
  margin-top: 30px !important;
  background-color: transparent !important;
}

#tabbrowser-tabs {
  margin-top: -3px !important;
  position: relative !important;
  background: #fff;
}

#TabsToolbar {
  height: 25px !important;
}

/* Selected tab tweaks */
tab[selected] {
  color: #000 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

/* Remove space from the left (Mac OS X) */
hbox.titlebar-placeholder {
  display: none !important;
}

/* Remove library button */
#library-button {
  display: none !important;
}

#nav-bar {
  border-top-width: 0 !important;
  padding-left: 70px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

/* Fix tab bar barbackground and border */
#TabsToolbar {
  background-image: linear-gradient(#f0f0f0, #f6f6f6) !important;
  border: none !important;
  box-shadow: none !important;
}
